body{
  background-image: url("pic0002.jpg");
  background-color: rgba(255, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: 100%;
}
[type=radio] {
  opacity: 0;
}

[type=radio]:checked + img {
  opacity: 1 ;
}
[type=radio]:checked + centered{
  color: black;
}

ul{
  text-align: center;
  list-style-type: none;
}

h2{
  text-align: center;
}

h1{
  text-align: center;
  font-size: 5pc;
}

h3{
  text-align: center;
}

.input{
  display: inline-block;
  text-align: center;
  margin-left: 40pc;
}

.image{
  height: 20pc;
  width: 30pc;
  opacity: 0.5;
  margin-right: 4pc;
}

label{
  position: relative;
    text-align: center;
    color: white;
}

.centered{
  position: absolute;
    top: -700%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3pc;
}


.winner{
  font-size: 5pc;
}
